.form-group .dept-input {
    padding: 20px;
    margin: 2px 0px;
    background-color:whitesmoke ;
    border-radius: 10px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}
.form-group .dept-input:focus {
    background: #e5e5e5;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

