/*login start*/
.login {
    margin-top:8%;
}

body{
    background-color:deepskyblue;
}
.login .form-login {
    background-color: #FFF;
    padding: 50px;
    border-radius: 15px;
    border-color: gray;
    border-width: 5px;
    box-shadow: 0 2px 10px gray;
}

.login h2 {
    padding-bottom: 10px;
    text-align: inherit;
}

.login .wrapper {
    text-align: center;
}

.login .username, .login .password{
    padding: 20px;
    margin:10px 0px;
    background-color: rgba(0,0,0,.05);
    border-radius: 10px;
    width:100%;
    border: none;
    outline:none;
    font-size: 16px;
}
.login .username:focus, .login .password:focus {
    background: #e5e5e5;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
.login .submit{
    margin-top:20px;
}
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
    .login {
        margin-top: 20%;
    }

}
/*Login end*/

